avaultplayground.json
{
  "name": "TRAIL - Final Production Build",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://otx.alienvault.com/api/v1/search/pulses?q=APT29&sort=-modified",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "search_otx",
      "name": "Search OTX for APT29",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        340,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCYy1OIYKBWYqykg",
          "name": "alienvaultapi"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "split_results",
      "name": "Split Pulses",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://otx.alienvault.com/api/v1/pulses/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get_details",
      "name": "Get Pulse Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        300
      ],
      "notes": "Fetches the full IOC list (which the Search node misses)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCYy1OIYKBWYqykg",
          "name": "alienvaultapi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// TRAIL Logic: Extract Domains AND IPs\nconst allIOCs = [];\n\n// Loop through all retrieved full reports\nfor (const item of $input.all()) {\n  const pulse = item.json;\n  \n  // Skip if no indicators found\n  if (!pulse.indicators) continue;\n\n  const iocs = pulse.indicators\n    // Filter for Domains, Hostnames, AND IPv4\n    .filter(i => i.type === 'domain' || i.type === 'hostname' || i.type === 'IPv4')\n    .map(i => ({\n       event_id: pulse.id,\n       event_name: pulse.name,\n       apt_label: 'APT29',\n       ioc: i.indicator,\n       // Normalize 'hostname' to 'domain' for consistency\n       type: (i.type === 'hostname') ? 'domain' : i.type\n    }));\n\n  allIOCs.push(...iocs);\n}\n\nreturn allIOCs;"
      },
      "id": "extract_iocs",
      "name": "Extract IOCs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch_split",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1220,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://otx.alienvault.com/api/v1/indicators/{{ $json.type === 'IPv4' ? 'IPv4' : 'domain' }}/{{ $json.ioc }}/passive_dns",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "otx_enrich",
      "name": "OTX: Get Passive DNS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1440,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCYy1OIYKBWYqykg",
          "name": "alienvaultapi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// TRAIL Logic: Map Relationships correctly\nconst input = $input.all()[0].json;\nconst meta = $('Split in Batches').first().json;\n\n// If no passive DNS, return empty array\nif (!input.passive_dns) return [];\n\nreturn input.passive_dns\n  .filter(record => record.record_type === 'A') // Only link A records\n  .map(record => {\n     let domain, ip;\n\n     if (meta.type === 'domain') {\n       // Domain -> IP\n       domain = meta.ioc;\n       ip = record.address;\n     } else {\n       // IP -> Domain\n       domain = record.hostname;\n       ip = meta.ioc;\n     }\n\n     return {\n       event_id: meta.event_id,\n       apt_label: meta.apt_label,\n       primary_domain: domain,\n       secondary_ip: ip,\n       first_seen: record.first,\n       last_seen: record.last\n     };\n  });"
      },
      "id": "format_data",
      "name": "Format TRAIL Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "statements",
              "value": "={{ [{\n  \"statement\": \"MERGE (e:Event {id: $event_id}) SET e.apt = $apt_label, e.type = 'Report' MERGE (d:Domain {value: $primary_domain}) MERGE (ip:IP {value: $secondary_ip}) MERGE (e)-[:InReport]->(d) MERGE (d)-[r:ResolvesTo]->(ip) SET r.first_seen = $first_seen, r.last_seen = $last_seen\",\n  \"parameters\": {\n    \"event_id\": $json.event_id,\n    \"apt_label\": $json.apt_label,\n    \"primary_domain\": $json.primary_domain,\n    \"secondary_ip\": $json.secondary_ip,\n    \"first_seen\": $json.first_seen,\n    \"last_seen\": $json.last_seen\n  }\n}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "neo4j_write",
      "name": "Neo4j via HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1880,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "xkWGYm3b51EzGCb4",
          "name": "neo4j"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait_node",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2100,
        300
      ],
      "notes": "Prevents 429 Rate Limits"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search OTX for APT29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search OTX for APT29": {
      "main": [
        [
          {
            "node": "Split Pulses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Pulses": {
      "main": [
        [
          {
            "node": "Get Pulse Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pulse Details": {
      "main": [
        [
          {
            "node": "Extract IOCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract IOCs": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "OTX: Get Passive DNS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTX: Get Passive DNS": {
      "main": [
        [
          {
            "node": "Format TRAIL Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format TRAIL Data": {
      "main": [
        [
          {
            "node": "Neo4j via HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j via HTTP": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
