TRAIL_Phase1_GraphConstruction_v4.json
{
  "name": "TRAIL Phase 1 - Graph Construction v5 (Independent DST)",
  "nodes": [
    {
      "parameters": {},
      "id": "p1-trigger",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-2800, 300]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/mitre/cti/master/enterprise-attack/enterprise-attack.json",
        "options": { "response": { "response": {} } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-2560, 300],
      "id": "p1-fetch-mitre",
      "name": "Fetch MITRE ATT&CK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "neo4jApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"statements\": [{ \"statement\": \"MATCH (e:Event) RETURN e.apt AS apt, count(e) AS cnt\" }] }",
        "options": {}
      },
      "id": "p1-check-existing",
      "name": "Check Existing APTs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-2440, 300],
      "credentials": {
        "httpBasicAuth": { "id": "xkWGYm3b51EzGCb4", "name": "neo4j" },
        "neo4jApi": { "id": "2iJSOomgOQ2m8w1V", "name": "Neo4j account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// v4: Return APT groups that need ingestion\n// No hardcoded tier thresholds — cap at MAX_REPORTS_PER_APT\nconst MAX_REPORTS = 10; // paginate 10 for now (max 25)\nconst APT_GROUPS = [\n  \"APT28\", \"APT29\", \"APT38\", \"APT37\", \"Kimsuky\",\n  \"APT27\", \"FIN11\", \"Mustang Panda\", \"OceanLotus\", \"Turla\"\n];\n\nconst neo4jResp = $('Check Existing APTs').first().json;\nconst existingAPTs = {};\nif (neo4jResp.results && neo4jResp.results[0] && neo4jResp.results[0].data) {\n  for (const row of neo4jResp.results[0].data) {\n    existingAPTs[row.row[0]] = row.row[1];\n  }\n}\n\n// Skip any APT that already has at least 1 event (crash-resume friendly)\nconst remaining = APT_GROUPS.filter(apt => {\n  const count = existingAPTs[apt] || 0;\n  return count === 0;\n});\n\nif (remaining.length === 0) return [];\nreturn remaining.map(apt => ({ json: { apt } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2200, 300],
      "id": "p1-apt-list",
      "name": "APT Group List"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [-2080, 300],
      "id": "p1-split-apts",
      "name": "Split APT Groups"
    },
    {
      "parameters": {
        "jsCode": "// Dynamic Parse MITRE Aliases\nconst TARGET_APT = $('Split APT Groups').first().json.apt;\nlet rawInput = $('Fetch MITRE ATT&CK').first().json;\nlet mitreData;\nif (rawInput.data && typeof rawInput.data === 'string') {\n  mitreData = JSON.parse(rawInput.data);\n} else if (rawInput.data && typeof rawInput.data === 'object') {\n  mitreData = rawInput.data;\n} else {\n  mitreData = rawInput;\n}\nif (!mitreData.objects) {\n  throw new Error('MITRE data is missing! Check Fetch MITRE ATT&CK node output.');\n}\nconst userInput = TARGET_APT.toLowerCase();\nconst aptAliases = {};\nlet canonicalTarget = TARGET_APT;\nconst intrusionSets = mitreData.objects.filter(obj => obj.type === 'intrusion-set');\nfor (const group of intrusionSets) {\n  const canonicalName = group.name;\n  let aliases = group.aliases || [];\n  aliases.push(canonicalName);\n  const lowerAliases = aliases.map(a => a.toLowerCase());\n  aptAliases[canonicalName] = lowerAliases;\n  if (lowerAliases.includes(userInput)) {\n    canonicalTarget = canonicalName;\n  }\n}\nreturn {\n  canonical_name: canonicalTarget,\n  apt_dictionary: aptAliases\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1840, 300],
      "id": "p1-parse-mitre",
      "name": "Parse MITRE Aliases"
    },
    {
      "parameters": {
        "url": "=https://otx.alienvault.com/api/v1/search/pulses?q={{ $('Parse MITRE Aliases').first().json.canonical_name }}&sort=-modified&limit=10",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.next }}",
              "limitPagesFetched": true,
              "maxRequests": 1
            }
          },
          "timeout": 120000
        }
      },
      "id": "p1-search-otx",
      "name": "Search OTX for threat tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-1600, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "vCYy1OIYKBWYqykg", "name": "alienvaultapi" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "fieldToSplitOut": "results", "options": {} },
      "id": "p1-split-pulses",
      "name": "Split Pulses",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [-1360, 300]
    },
    {
      "parameters": {
        "url": "=https://otx.alienvault.com/api/v1/pulses/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "p1-pulse-details",
      "name": "Get Pulse Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-1120, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "vCYy1OIYKBWYqykg", "name": "alienvaultapi" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// TRAIL v5: Independent DST — Per-Pulse Label Confidence\n// ============================================================\n// Each pulse gets its OWN independent DST mass function.\n// No accumulation across pulses — each Event node stores its own\n// label quality score for the GNN to use as sample weights.\n//\n// Hierarchical beliefs (Unit 42 framework):\n//   Named Actor ⊂ Nation-State ⊂ Activity Cluster\n//   belief_nation_state >= belief_named_actor always\n// ============================================================\n\nconst canonicalTarget = $('Parse MITRE Aliases').first().json.canonical_name;\nconst aptAliases = $('Parse MITRE Aliases').first().json.apt_dictionary;\n\n// Nation-state mapping (Unit 42 framework)\nconst NATION_MAP = {\n  'APT28': 'Russia', 'APT29': 'Russia', 'Turla': 'Russia',\n  'APT37': 'North Korea', 'APT38': 'North Korea', 'Kimsuky': 'North Korea',\n  'APT27': 'China', 'Threat Group-3390': 'China', 'Mustang Panda': 'China',\n  'OceanLotus': 'Vietnam', 'FIN11': 'Cybercrime'\n};\n\n// Activity cluster: known state sponsor → State-Sponsored, else Cybercrime\nconst CLUSTER_MAP = {\n  'Russia': 'State-Sponsored', 'North Korea': 'State-Sponsored',\n  'China': 'State-Sponsored', 'Vietnam': 'State-Sponsored',\n  'Cybercrime': 'Cybercrime'\n};\n\nconst targetNation = NATION_MAP[canonicalTarget] || 'Unknown';\n// If no known state sponsor → Cybercrime (default)\nconst activityCluster = CLUSTER_MAP[targetNation] || 'Cybercrime';\n\nconst allIOCs = [];\n\nfor (const item of $input.all()) {\n  const pulse = item.json;\n  if (!pulse.indicators) continue;\n\n  const tags = pulse.tags ? pulse.tags.map(t => t.toLowerCase()) : [];\n  const networkIOCs = pulse.indicators.filter(i =>\n    i.type === 'domain' || i.type === 'hostname' || i.type === 'IPv4' || i.type === 'URL'\n  );\n  if (networkIOCs.length === 0) continue;\n\n  // ── Signal 1: Tag Exclusivity ──\n  // When APT alias tags exist: (target_matches / total_apt_matches)²\n  // When no APT alias tags: 1/(1+N) where N = distinct APTs in pulse text\n  //   (principle of insufficient reason — derived from data, not hardcoded)\n  let targetAliasCount = 0;\n  let totalAptAliasCount = 0;\n  let crossNationConflict = false;\n  const otherGroups = [];\n\n  for (const [canonical, aliases] of Object.entries(aptAliases)) {\n    const matching = aliases.filter(a => tags.includes(a));\n    if (matching.length > 0) {\n      totalAptAliasCount += matching.length;\n      if (canonical === canonicalTarget) {\n        targetAliasCount += matching.length;\n      } else {\n        otherGroups.push(canonical);\n        const otherNation = NATION_MAP[canonical] || 'Unknown';\n        if (otherNation !== targetNation) {\n          crossNationConflict = true;\n        }\n      }\n    }\n  }\n\n  let tagExclusivity;\n  if (totalAptAliasCount > 0) {\n    tagExclusivity = Math.pow(targetAliasCount / totalAptAliasCount, 2);\n  } else {\n    // No APT alias tags — derive from pulse text\n    const pulseText = ((pulse.name || '') + ' ' + (pulse.description || '')).toLowerCase();\n    let distinctAptsInText = 0;\n    for (const [canonical, aliases] of Object.entries(aptAliases)) {\n      if (aliases.some(a => pulseText.includes(a))) {\n        distinctAptsInText++;\n      }\n    }\n    // 1/(1+N): principle of insufficient reason\n    tagExclusivity = 1.0 / (1.0 + Math.max(distinctAptsInText, 1));\n  }\n\n  // ── Signal 2: Nation Coherence ──\n  // 1.0 = pulse nation matches APT nation (binary confirmation)\n  // 0.5 = no nation info or same-nation overlap (DST maximum ignorance)\n  // 0.0 = pulse tags a different nation (contradictory evidence)\n  let nationCoherence;\n  if (crossNationConflict) {\n    nationCoherence = 0.0;\n  } else if (otherGroups.length > 0) {\n    nationCoherence = 0.5; // same-nation overlap — maximum ignorance\n  } else {\n    nationCoherence = 1.0; // clean match or no competing groups\n  }\n\n  // ── Signal 3: Evidence Weight ──\n  // log₂(1+ioc_count) / log₂(51) — log normalization, 50 = OTX page size cap\n  const iocCount = networkIOCs.length;\n  const evidenceWeight = Math.min(1.0, Math.log2(1 + iocCount) / Math.log2(51));\n\n  // ── Mass function (per pulse, independent) ──\n  const mNamed = tagExclusivity * evidenceWeight * nationCoherence;\n  const mNationOnly = (1 - tagExclusivity) * evidenceWeight * nationCoherence * 0.5;\n\n  // Hierarchical beliefs — tiers are nested:\n  //   Named Actor (APT28) ⊂ Nation-State (Russia) ⊂ Activity Cluster\n  //   Knowing APT28 implies knowing Russia, so nation subsumes named.\n  const beliefNamed = Math.round(mNamed * 10000) / 10000;\n  const beliefNation = Math.round((mNamed + mNationOnly) * 10000) / 10000;\n  const uncertainty = Math.round(Math.max(0, 1.0 - mNamed - mNationOnly) * 10000) / 10000;\n\n  // ── Emit IOCs with per-pulse DST beliefs + timing ──\n  for (const indicator of networkIOCs) {\n    allIOCs.push({\n      json: {\n        event_id: pulse.id,\n        event_name: pulse.name || '',\n        apt_label: canonicalTarget,\n        nation_state: targetNation,\n        activity_cluster: activityCluster,\n        // Independent per-pulse DST beliefs\n        label_confidence: beliefNamed,\n        belief_named_actor: beliefNamed,\n        belief_nation_state: beliefNation,\n        uncertainty: uncertainty,\n        // Raw signals (all data-derived)\n        tag_exclusivity: Math.round(tagExclusivity * 10000) / 10000,\n        evidence_weight: Math.round(evidenceWeight * 10000) / 10000,\n        nation_coherence: nationCoherence,\n        // Timing\n        pulse_created: pulse.created || '',\n        pulse_modified: pulse.modified || '',\n        indicator_created: indicator.created || '',\n        // IOC data\n        ioc: indicator.indicator,\n        type: (indicator.type === 'hostname') ? 'domain' : indicator.type\n      }\n    });\n  }\n}\n\nreturn allIOCs;"
      },
      "id": "p1-extract-iocs",
      "name": "Extract IOCs (DST)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-880, 300]
    },
    {
      "parameters": {
        "jsCode": "// v4: Check if Extract IOCs returned any items\nconst items = $input.all();\nif (!items || items.length === 0) {\n  return [{ json: { skip: true, reason: 'No valid pulses or IOCs found', apt: $('Parse MITRE Aliases').first().json.canonical_name } }];\n}\nreturn items;"
      },
      "id": "p1-check-empty",
      "name": "Check Empty",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-660, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" }, "id": "cond-skip" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Skip APT"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "p1-skip-check",
      "name": "Has IOCs?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-440, 300]
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "p1-split-iocs",
      "name": "Split IOCs in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [-200, 380]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.type }}", "rightValue": "URL", "operator": { "type": "string", "operation": "equals" }, "id": "cond-url" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "URL"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.type }}", "rightValue": "domain", "operator": { "type": "string", "operation": "equals" }, "id": "cond-domain" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Domain"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "p1-router",
      "name": "Router (URL/Domain/IP)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [40, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/enrich/url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"url\": $json.ioc } }}"
      },
      "id": "p1-enrich-url",
      "name": "Enrich URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 160],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// v4: Format URL with DST beliefs + timing\nconst meta = $('Split IOCs in Batches').first().json;\nconst enriched = $input.first().json;\n\nreturn [{\n  event_id: meta.event_id,\n  event_name: meta.event_name,\n  apt_label: meta.apt_label,\n  nation_state: meta.nation_state || '',\n  activity_cluster: meta.activity_cluster || '',\n  // DST beliefs\n  belief_named_actor: meta.belief_named_actor,\n  belief_nation_state: meta.belief_nation_state,\n  belief_activity_cluster: meta.belief_activity_cluster,\n  uncertainty: meta.uncertainty,\n  conflict_factor: meta.conflict_factor,\n  tag_confidence: meta.tag_confidence,\n  // Timing\n  pulse_created: meta.pulse_created || '',\n  pulse_modified: meta.pulse_modified || '',\n  indicator_created: meta.indicator_created || '',\n  // URL data\n  url: meta.ioc,\n  extracted_domain: enriched.extracted_domain || '',\n  path: enriched.path || '',\n  tld: enriched.tld || '',\n  length: enriched.length || 0,\n  digit_count: enriched.digit_count || 0,\n  special_char_count: enriched.special_char_count || 0,\n  path_depth: enriched.path_depth || 0,\n  has_query: enriched.has_query || false,\n  has_fragment: enriched.has_fragment || false,\n  entropy: enriched.entropy || 0.0,\n  file_extension: enriched.file_extension || '',\n  http_status: enriched.http_status,\n  content_type: enriched.content_type || '',\n  server: enriched.server || '',\n  head_failed: enriched.head_failed !== undefined ? enriched.head_failed : true,\n  resolved_ip: enriched.resolved_ip\n}];"
      },
      "id": "p1-format-url",
      "name": "Format URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "neo4jApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"statements\": [\n    {\n      \"statement\": \"MERGE (e:Event {id: $event_id}) SET e.apt = $apt_label, e.nation_state = $nation_state, e.activity_cluster = $activity_cluster, e.type = 'Report', e.name = $event_name, e.label_confidence = $label_confidence, e.belief_named_actor = $belief_named_actor, e.belief_nation_state = $belief_nation_state, e.uncertainty = $uncertainty, e.tag_exclusivity = $tag_exclusivity, e.evidence_weight = $evidence_weight, e.nation_coherence = $nation_coherence, e.pulse_created = $pulse_created, e.pulse_modified = $pulse_modified MERGE (u:URL {value: $url}) SET u.domain = $extracted_domain, u.path = $path, u.tld = $tld, u.length = $length, u.digit_count = $digit_count, u.special_char_count = $special_char_count, u.path_depth = $path_depth, u.has_query = $has_query, u.has_fragment = $has_fragment, u.entropy = $entropy, u.file_extension = $file_extension, u.http_status = $http_status, u.content_type = $content_type, u.server = $server, u.head_failed = $head_failed MERGE (e)-[rel:InReport]->(u) SET rel.indicator_created = $indicator_created WITH u, $extracted_domain AS dom, $resolved_ip AS rip WHERE dom IS NOT NULL AND dom <> '' MERGE (d:Domain {value: dom}) MERGE (u)-[:HostedOn]->(d) WITH u, rip WHERE rip IS NOT NULL AND rip <> '' MERGE (ip:IP {value: rip}) MERGE (u)-[:ResolvesTo]->(ip)\",\n      \"parameters\": {\n        \"event_id\": $json.event_id,\n        \"event_name\": $json.event_name,\n        \"apt_label\": $json.apt_label,\n        \"nation_state\": $json.nation_state,\n        \"activity_cluster\": $json.activity_cluster,\n        \"label_confidence\": $json.label_confidence,\n        \"belief_named_actor\": $json.belief_named_actor,\n        \"belief_nation_state\": $json.belief_nation_state,\n        \"uncertainty\": $json.uncertainty,\n        \"tag_exclusivity\": $json.tag_exclusivity,\n        \"evidence_weight\": $json.evidence_weight,\n        \"nation_coherence\": $json.nation_coherence,\n        \"pulse_created\": $json.pulse_created,\n        \"pulse_modified\": $json.pulse_modified,\n        \"indicator_created\": $json.indicator_created,\n        \"url\": $json.url,\n        \"extracted_domain\": $json.extracted_domain,\n        \"path\": $json.path,\n        \"tld\": $json.tld,\n        \"length\": $json.length,\n        \"digit_count\": $json.digit_count,\n        \"special_char_count\": $json.special_char_count,\n        \"path_depth\": $json.path_depth,\n        \"has_query\": $json.has_query,\n        \"has_fragment\": $json.has_fragment,\n        \"entropy\": $json.entropy,\n        \"file_extension\": $json.file_extension,\n        \"http_status\": $json.http_status,\n        \"content_type\": $json.content_type,\n        \"server\": $json.server,\n        \"head_failed\": $json.head_failed,\n        \"resolved_ip\": $json.resolved_ip\n      }\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "p1-write-url",
      "name": "Write URL to Neo4j",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 160],
      "credentials": {
        "httpBasicAuth": { "id": "xkWGYm3b51EzGCb4", "name": "neo4j" },
        "neo4jApi": { "id": "2iJSOomgOQ2m8w1V", "name": "Neo4j account" }
      }
    },
    {
      "parameters": {
        "url": "=https://otx.alienvault.com/api/v1/indicators/domain/{{ $('Split IOCs in Batches').first().json.ioc }}/passive_dns",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": { "timeout": 120000 }
      },
      "id": "p1-otx-domain-pdns",
      "name": "OTX Domain pDNS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 380],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": { "id": "vCYy1OIYKBWYqykg", "name": "alienvaultapi" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/enrich/domain",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"domain\": $('Split IOCs in Batches').first().json.ioc } }}"
      },
      "id": "p1-enrich-domain",
      "name": "Enrich Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// v4: Format Domain + pDNS with DST beliefs + timing\nconst meta = $('Split IOCs in Batches').first().json;\nlet pdns;\ntry { pdns = $('OTX Domain pDNS').first().json; } catch(e) { pdns = {}; }\nif (pdns.error || !pdns.passive_dns) { pdns = { passive_dns: [] }; }\nlet enriched;\ntry { enriched = $('Enrich Domain').first().json; } catch(e) { enriched = {}; }\nif (enriched.error) { enriched = {}; }\n\n// Compute active_period_days from pDNS timestamps\nlet activePeriodDays = 0;\nif (pdns.passive_dns && pdns.passive_dns.length > 0) {\n  const dates = pdns.passive_dns\n    .map(r => new Date(r.first))\n    .filter(d => !isNaN(d.getTime()));\n  if (dates.length > 1) {\n    const min = Math.min(...dates.map(d => d.getTime()));\n    const max = Math.max(...dates.map(d => d.getTime()));\n    activePeriodDays = Math.round((max - min) / (1000 * 60 * 60 * 24));\n  }\n}\n\n// Build ResolvesTo records\nconst resolves = [];\nif (pdns.passive_dns) {\n  for (const record of pdns.passive_dns) {\n    if (record.record_type === 'A' && record.address && record.address !== 'NXDOMAIN') {\n      resolves.push({\n        ip: record.address,\n        first_seen: record.first || '',\n        last_seen: record.last || ''\n      });\n    }\n  }\n}\n\nreturn [{\n  event_id: meta.event_id,\n  event_name: meta.event_name,\n  apt_label: meta.apt_label,\n  nation_state: meta.nation_state || '',\n  activity_cluster: meta.activity_cluster || '',\n  // DST beliefs\n  belief_named_actor: meta.belief_named_actor,\n  belief_nation_state: meta.belief_nation_state,\n  belief_activity_cluster: meta.belief_activity_cluster,\n  uncertainty: meta.uncertainty,\n  conflict_factor: meta.conflict_factor,\n  tag_confidence: meta.tag_confidence,\n  // Timing\n  pulse_created: meta.pulse_created || '',\n  pulse_modified: meta.pulse_modified || '',\n  indicator_created: meta.indicator_created || '',\n  // Domain data\n  domain: meta.ioc,\n  tld: enriched.tld || '',\n  length: enriched.length || 0,\n  digit_count: enriched.digit_count || 0,\n  period_count: enriched.period_count || 0,\n  entropy: enriched.entropy || 0.0,\n  is_nxdomain: enriched.is_nxdomain || false,\n  active_period_days: activePeriodDays,\n  a_count: enriched.a_count || 0,\n  aaaa_count: enriched.aaaa_count || 0,\n  mx_count: enriched.mx_count || 0,\n  ns_count: enriched.ns_count || 0,\n  soa_count: enriched.soa_count || 0,\n  txt_count: enriched.txt_count || 0,\n  cname_count: enriched.cname_count || 0,\n  ptr_count: enriched.ptr_count || 0,\n  srv_count: enriched.srv_count || 0,\n  country: enriched.country || '',\n  asn: enriched.asn || '',\n  asn_description: enriched.asn_description || '',\n  resolves: resolves\n}];"
      },
      "id": "p1-format-domain",
      "name": "Format Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "neo4jApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"statements\": [\n    {\n      \"statement\": \"MERGE (e:Event {id: $event_id}) SET e.apt = $apt_label, e.nation_state = $nation_state, e.activity_cluster = $activity_cluster, e.type = 'Report', e.name = $event_name, e.label_confidence = $label_confidence, e.belief_named_actor = $belief_named_actor, e.belief_nation_state = $belief_nation_state, e.uncertainty = $uncertainty, e.tag_exclusivity = $tag_exclusivity, e.evidence_weight = $evidence_weight, e.nation_coherence = $nation_coherence, e.pulse_created = $pulse_created, e.pulse_modified = $pulse_modified MERGE (d:Domain {value: $domain}) SET d.tld = $tld, d.length = $length, d.digit_count = $digit_count, d.period_count = $period_count, d.entropy = $entropy, d.is_nxdomain = $is_nxdomain, d.active_period_days = $active_period_days, d.a_count = $a_count, d.aaaa_count = $aaaa_count, d.mx_count = $mx_count, d.ns_count = $ns_count, d.soa_count = $soa_count, d.txt_count = $txt_count, d.cname_count = $cname_count, d.ptr_count = $ptr_count, d.srv_count = $srv_count MERGE (e)-[rel:InReport]->(d) SET rel.indicator_created = $indicator_created WITH d, $asn AS asn_num, $asn_description AS asn_desc, $country AS country WHERE asn_num IS NOT NULL AND asn_num <> '' MERGE (a:ASN {number: asn_num}) SET a.description = asn_desc, a.country = country\",\n      \"parameters\": {\n        \"event_id\": $json.event_id,\n        \"event_name\": $json.event_name,\n        \"apt_label\": $json.apt_label,\n        \"nation_state\": $json.nation_state,\n        \"activity_cluster\": $json.activity_cluster,\n        \"label_confidence\": $json.label_confidence,\n        \"belief_named_actor\": $json.belief_named_actor,\n        \"belief_nation_state\": $json.belief_nation_state,\n        \"uncertainty\": $json.uncertainty,\n        \"tag_exclusivity\": $json.tag_exclusivity,\n        \"evidence_weight\": $json.evidence_weight,\n        \"nation_coherence\": $json.nation_coherence,\n        \"pulse_created\": $json.pulse_created,\n        \"pulse_modified\": $json.pulse_modified,\n        \"indicator_created\": $json.indicator_created,\n        \"domain\": $json.domain,\n        \"tld\": $json.tld,\n        \"length\": $json.length,\n        \"digit_count\": $json.digit_count,\n        \"period_count\": $json.period_count,\n        \"entropy\": $json.entropy,\n        \"is_nxdomain\": $json.is_nxdomain,\n        \"active_period_days\": $json.active_period_days,\n        \"a_count\": $json.a_count,\n        \"aaaa_count\": $json.aaaa_count,\n        \"mx_count\": $json.mx_count,\n        \"ns_count\": $json.ns_count,\n        \"soa_count\": $json.soa_count,\n        \"txt_count\": $json.txt_count,\n        \"cname_count\": $json.cname_count,\n        \"ptr_count\": $json.ptr_count,\n        \"srv_count\": $json.srv_count,\n        \"asn\": $json.asn,\n        \"asn_description\": $json.asn_description,\n        \"country\": $json.country\n      }\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "p1-write-domain",
      "name": "Write Domain to Neo4j",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 380],
      "credentials": {
        "httpBasicAuth": { "id": "xkWGYm3b51EzGCb4", "name": "neo4j" },
        "neo4jApi": { "id": "2iJSOomgOQ2m8w1V", "name": "Neo4j account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Write ResolvesTo edges from pDNS\nconst formatted = $('Format Domain').first().json;\nif (!formatted.resolves || formatted.resolves.length === 0) {\n  return [{ json: { status: 'no_resolves' } }];\n}\nconst statements = formatted.resolves.map(r => ({\n  statement: \"MERGE (d:Domain {value: $domain}) MERGE (ip:IP {value: $ip}) MERGE (d)-[rel:ResolvesTo]->(ip) SET rel.first_seen = $first_seen, rel.last_seen = $last_seen\",\n  parameters: {\n    domain: formatted.domain,\n    ip: r.ip,\n    first_seen: r.first_seen,\n    last_seen: r.last_seen\n  }\n}));\nreturn [{ json: { statements } }];"
      },
      "id": "p1-build-resolves",
      "name": "Build ResolvesTo Edges",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "neo4jApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"statements\": $json.statements || [] } }}",
        "options": {}
      },
      "id": "p1-write-resolves",
      "name": "Write ResolvesTo Edges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1280, 380],
      "credentials": {
        "httpBasicAuth": { "id": "xkWGYm3b51EzGCb4", "name": "neo4j" },
        "neo4jApi": { "id": "2iJSOomgOQ2m8w1V", "name": "Neo4j account" }
      }
    },
    {
      "parameters": {
        "url": "=https://otx.alienvault.com/api/v1/indicators/IPv4/{{ $('Split IOCs in Batches').first().json.ioc }}/passive_dns",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": { "timeout": 120000 }
      },
      "id": "p1-otx-ip-pdns",
      "name": "OTX IP pDNS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 600],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": { "id": "vCYy1OIYKBWYqykg", "name": "alienvaultapi" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/enrich/ip",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"ip\": $('Split IOCs in Batches').first().json.ioc } }}"
      },
      "id": "p1-enrich-ip",
      "name": "Enrich IP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 520],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// v4: Format IP + pDNS with DST beliefs + timing\nconst meta = $('Split IOCs in Batches').first().json;\nlet pdns;\ntry { pdns = $('OTX IP pDNS').first().json; } catch(e) { pdns = {}; }\nif (pdns.error || !pdns.passive_dns) { pdns = { passive_dns: [] }; }\nlet enriched;\ntry { enriched = $('Enrich IP').first().json; } catch(e) { enriched = {}; }\nif (enriched.error) { enriched = {}; }\n\nconst resolves = [];\nif (pdns.passive_dns) {\n  for (const record of pdns.passive_dns) {\n    if (record.record_type === 'A' && record.hostname) {\n      resolves.push({\n        domain: record.hostname,\n        first_seen: record.first || '',\n        last_seen: record.last || ''\n      });\n    }\n  }\n}\n\nreturn [{\n  event_id: meta.event_id,\n  event_name: meta.event_name,\n  apt_label: meta.apt_label,\n  nation_state: meta.nation_state || '',\n  activity_cluster: meta.activity_cluster || '',\n  // DST beliefs\n  belief_named_actor: meta.belief_named_actor,\n  belief_nation_state: meta.belief_nation_state,\n  belief_activity_cluster: meta.belief_activity_cluster,\n  uncertainty: meta.uncertainty,\n  conflict_factor: meta.conflict_factor,\n  tag_confidence: meta.tag_confidence,\n  // Timing\n  pulse_created: meta.pulse_created || '',\n  pulse_modified: meta.pulse_modified || '',\n  indicator_created: meta.indicator_created || '',\n  // IP data\n  ip: meta.ioc,\n  country: enriched.country || '',\n  asn: enriched.asn || '',\n  asn_description: enriched.asn_description || '',\n  resolves: resolves\n}];"
      },
      "id": "p1-format-ip",
      "name": "Format IP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "neo4jApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"statements\": [\n    {\n      \"statement\": \"MERGE (e:Event {id: $event_id}) SET e.apt = $apt_label, e.nation_state = $nation_state, e.activity_cluster = $activity_cluster, e.type = 'Report', e.name = $event_name, e.label_confidence = $label_confidence, e.belief_named_actor = $belief_named_actor, e.belief_nation_state = $belief_nation_state, e.uncertainty = $uncertainty, e.tag_exclusivity = $tag_exclusivity, e.evidence_weight = $evidence_weight, e.nation_coherence = $nation_coherence, e.pulse_created = $pulse_created, e.pulse_modified = $pulse_modified MERGE (ip:IP {value: $ip}) SET ip.country = $country, ip.asn = $asn, ip.asn_description = $asn_description MERGE (e)-[rel:InReport]->(ip) SET rel.indicator_created = $indicator_created WITH ip, $asn AS asn_num, $asn_description AS asn_desc, $country AS country WHERE asn_num IS NOT NULL AND asn_num <> '' MERGE (a:ASN {number: asn_num}) SET a.description = asn_desc, a.country = country MERGE (ip)-[:InGroup]->(a)\",\n      \"parameters\": {\n        \"event_id\": $json.event_id,\n        \"event_name\": $json.event_name,\n        \"apt_label\": $json.apt_label,\n        \"nation_state\": $json.nation_state,\n        \"activity_cluster\": $json.activity_cluster,\n        \"label_confidence\": $json.label_confidence,\n        \"belief_named_actor\": $json.belief_named_actor,\n        \"belief_nation_state\": $json.belief_nation_state,\n        \"uncertainty\": $json.uncertainty,\n        \"tag_exclusivity\": $json.tag_exclusivity,\n        \"evidence_weight\": $json.evidence_weight,\n        \"nation_coherence\": $json.nation_coherence,\n        \"pulse_created\": $json.pulse_created,\n        \"pulse_modified\": $json.pulse_modified,\n        \"indicator_created\": $json.indicator_created,\n        \"ip\": $json.ip,\n        \"country\": $json.country,\n        \"asn\": $json.asn,\n        \"asn_description\": $json.asn_description\n      }\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "p1-write-ip",
      "name": "Write IP to Neo4j",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 600],
      "credentials": {
        "httpBasicAuth": { "id": "xkWGYm3b51EzGCb4", "name": "neo4j" },
        "neo4jApi": { "id": "2iJSOomgOQ2m8w1V", "name": "Neo4j account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Write ResolvesTo edges from IP pDNS\nconst formatted = $('Format IP').first().json;\nif (!formatted.resolves || formatted.resolves.length === 0) {\n  return [{ json: { status: 'no_resolves' } }];\n}\nconst statements = formatted.resolves.map(r => ({\n  statement: \"MERGE (d:Domain {value: $domain}) MERGE (ip:IP {value: $ip}) MERGE (d)-[rel:ResolvesTo]->(ip) SET rel.first_seen = $first_seen, rel.last_seen = $last_seen\",\n  parameters: {\n    domain: r.domain,\n    ip: formatted.ip,\n    first_seen: r.first_seen,\n    last_seen: r.last_seen\n  }\n}));\nreturn [{ json: { statements } }];"
      },
      "id": "p1-build-ip-resolves",
      "name": "Build IP ResolvesTo Edges",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "neo4jApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"statements\": $json.statements || [] } }}",
        "options": {}
      },
      "id": "p1-write-ip-resolves",
      "name": "Write IP ResolvesTo Edges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1280, 600],
      "credentials": {
        "httpBasicAuth": { "id": "xkWGYm3b51EzGCb4", "name": "neo4j" },
        "neo4jApi": { "id": "2iJSOomgOQ2m8w1V", "name": "Neo4j account" }
      }
    },
    {
      "parameters": { "amount": 0.1, "unit": "seconds" },
      "id": "p1-wait-ioc",
      "name": "Wait 0.1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1520, 380],
      "webhookId": "p1-wait-ioc-webhook"
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "id": "p1-wait-apt",
      "name": "Wait 5s Between APTs",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-1840, 500],
      "webhookId": "p1-wait-apt-webhook"
    },
    {
      "parameters": {
        "jsCode": "// v4: Log completion with DST summary\nconst aptGroups = ['APT28', 'APT29', 'APT38', 'APT37', 'Kimsuky', 'APT27', 'FIN11', 'Mustang Panda', 'OceanLotus', 'Turla'];\nreturn [{\n  status: 'Graph construction complete (v4 DST)',\n  confidence_method: 'Dempster-Shafer Theory',\n  timing_collected: ['pulse_created', 'pulse_modified', 'indicator_created', 'pdns_first_seen', 'pdns_last_seen'],\n  apt_groups_processed: aptGroups.length,\n  timestamp: new Date().toISOString()\n}];"
      },
      "id": "p1-log-complete",
      "name": "Log Completion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2080, 500]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Fetch MITRE ATT&CK", "type": "main", "index": 0 }]]
    },
    "Fetch MITRE ATT&CK": {
      "main": [[{ "node": "Check Existing APTs", "type": "main", "index": 0 }]]
    },
    "Check Existing APTs": {
      "main": [[{ "node": "APT Group List", "type": "main", "index": 0 }]]
    },
    "APT Group List": {
      "main": [[{ "node": "Split APT Groups", "type": "main", "index": 0 }]]
    },
    "Split APT Groups": {
      "main": [
        [{ "node": "Parse MITRE Aliases", "type": "main", "index": 0 }],
        [{ "node": "Log Completion", "type": "main", "index": 0 }]
      ]
    },
    "Parse MITRE Aliases": {
      "main": [[{ "node": "Search OTX for threat tag", "type": "main", "index": 0 }]]
    },
    "Search OTX for threat tag": {
      "main": [[{ "node": "Split Pulses", "type": "main", "index": 0 }]]
    },
    "Split Pulses": {
      "main": [[{ "node": "Get Pulse Details", "type": "main", "index": 0 }]]
    },
    "Get Pulse Details": {
      "main": [[{ "node": "Extract IOCs (DST)", "type": "main", "index": 0 }]]
    },
    "Extract IOCs (DST)": {
      "main": [[{ "node": "Check Empty", "type": "main", "index": 0 }]]
    },
    "Check Empty": {
      "main": [[{ "node": "Has IOCs?", "type": "main", "index": 0 }]]
    },
    "Has IOCs?": {
      "main": [
        [{ "node": "Wait 5s Between APTs", "type": "main", "index": 0 }],
        [{ "node": "Split IOCs in Batches", "type": "main", "index": 0 }]
      ]
    },
    "Split IOCs in Batches": {
      "main": [
        [{ "node": "Router (URL/Domain/IP)", "type": "main", "index": 0 }],
        [{ "node": "Wait 5s Between APTs", "type": "main", "index": 0 }]
      ]
    },
    "Router (URL/Domain/IP)": {
      "main": [
        [{ "node": "Enrich URL", "type": "main", "index": 0 }],
        [{ "node": "Enrich Domain", "type": "main", "index": 0 }],
        [{ "node": "Enrich IP", "type": "main", "index": 0 }]
      ]
    },
    "Enrich URL": {
      "main": [[{ "node": "Format URL", "type": "main", "index": 0 }]]
    },
    "Format URL": {
      "main": [[{ "node": "Write URL to Neo4j", "type": "main", "index": 0 }]]
    },
    "Write URL to Neo4j": {
      "main": [[{ "node": "Wait 0.1s", "type": "main", "index": 0 }]]
    },
    "Enrich Domain": {
      "main": [[{ "node": "OTX Domain pDNS", "type": "main", "index": 0 }]]
    },
    "OTX Domain pDNS": {
      "main": [[{ "node": "Format Domain", "type": "main", "index": 0 }]]
    },
    "Format Domain": {
      "main": [[{ "node": "Write Domain to Neo4j", "type": "main", "index": 0 }]]
    },
    "Write Domain to Neo4j": {
      "main": [[{ "node": "Build ResolvesTo Edges", "type": "main", "index": 0 }]]
    },
    "Build ResolvesTo Edges": {
      "main": [[{ "node": "Write ResolvesTo Edges", "type": "main", "index": 0 }]]
    },
    "Write ResolvesTo Edges": {
      "main": [[{ "node": "Wait 0.1s", "type": "main", "index": 0 }]]
    },
    "Enrich IP": {
      "main": [[{ "node": "OTX IP pDNS", "type": "main", "index": 0 }]]
    },
    "OTX IP pDNS": {
      "main": [[{ "node": "Format IP", "type": "main", "index": 0 }]]
    },
    "Format IP": {
      "main": [[{ "node": "Write IP to Neo4j", "type": "main", "index": 0 }]]
    },
    "Write IP to Neo4j": {
      "main": [[{ "node": "Build IP ResolvesTo Edges", "type": "main", "index": 0 }]]
    },
    "Build IP ResolvesTo Edges": {
      "main": [[{ "node": "Write IP ResolvesTo Edges", "type": "main", "index": 0 }]]
    },
    "Write IP ResolvesTo Edges": {
      "main": [[{ "node": "Wait 0.1s", "type": "main", "index": 0 }]]
    },
    "Wait 5s Between APTs": {
      "main": [[{ "node": "Split APT Groups", "type": "main", "index": 0 }]]
    },
    "Wait 0.1s": {
      "main": [[{ "node": "Split IOCs in Batches", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {},
  "tags": []
}