TRAIL_Phase2_Attribution.json
{
  "name": "TRAIL Phase 2 - Attribution (GNN + LP)",
  "nodes": [
    {
      "parameters": {},
      "id": "p2-trigger",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8001/status",
        "options": {}
      },
      "id": "p2-check-status",
      "name": "Check Service Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-960, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.model_trained }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "cond-trained"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Model Ready"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "p2-check-trained",
      "name": "Model Trained?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/train",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"k_folds\": 5, \"ae_epochs\": 100, \"gnn_epochs\": 200 }",
        "options": {}
      },
      "id": "p2-train",
      "name": "Train GNN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-480, 460]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "p2-wait-train",
      "name": "Wait for Training",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-240, 460],
      "webhookId": "p2-wait-train-wh"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8001/status",
        "options": {}
      },
      "id": "p2-poll-status",
      "name": "Poll Training Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 460]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.service_status }}",
                    "rightValue": "training",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-still-training"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Still Training"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "p2-check-done",
      "name": "Training Done?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [240, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"alpha_gnn\": 0.6, \"alpha_lp\": 0.4, \"include_labeled\": true }",
        "options": {}
      },
      "id": "p2-predict",
      "name": "Run GNN + LP Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "jsCode": "// Format predictions for store-results API\nconst resp = $input.first().json;\nif (!resp.predictions || resp.predictions.length === 0) {\n  return [{ json: { status: 'no_predictions' } }];\n}\n\nreturn [{\n  json: {\n    predictions: resp.predictions.map(p => ({\n      event_id: p.event_id,\n      predicted_apt: p.predicted_apt,\n      confidence: p.confidence,\n      method: p.method || 'gnn+lp'\n    }))\n  }\n}];"
      },
      "id": "p2-format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/store-results",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "p2-store",
      "name": "Store Results in Neo4j",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8001/results",
        "options": {}
      },
      "id": "p2-fetch-summary",
      "name": "Fetch Results Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [720, 200]
    },
    {
      "parameters": {
        "jsCode": "// Pretty print the attribution summary\nconst resp = $input.first().json;\n\nconst lines = ['=== TRAIL Attribution Results ==='];\nlines.push(`Total predictions: ${resp.total_predictions}`);\nlines.push('');\nlines.push('Predictions by APT group:');\nfor (const [apt, count] of Object.entries(resp.summary_by_apt || {})) {\n  lines.push(`  ${apt}: ${count} events`);\n}\nlines.push('');\nlines.push('Top 20 predictions (by confidence):');\nfor (const p of (resp.predictions || []).slice(0, 20)) {\n  const known = p.known_apt || '—';\n  const match = p.known_apt === p.predicted_apt ? '✓' : (p.known_apt ? '✗' : '?');\n  lines.push(`  [${match}] ${p.event_id}: predicted=${p.predicted_apt} (conf=${p.confidence}) known=${known}`);\n}\n\nreturn [{ json: { summary: lines.join('\\n'), raw: resp } }];"
      },
      "id": "p2-summary",
      "name": "Print Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/label-propagation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"iterations\": 4 }",
        "options": {}
      },
      "id": "p2-lp-only",
      "name": "Run LP Only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 40]
    },
    {
      "parameters": {
        "jsCode": "// Format LP-only results summary\nconst resp = $input.first().json;\nconst preds = resp.predictions || [];\n\nconst summary = {};\nfor (const p of preds) {\n  summary[p.predicted_apt] = (summary[p.predicted_apt] || 0) + 1;\n}\n\nreturn [{\n  json: {\n    method: 'label_propagation_only',\n    iterations: resp.iterations,\n    total_predictions: preds.length,\n    summary_by_apt: summary,\n    predictions: preds\n  }\n}];"
      },
      "id": "p2-lp-summary",
      "name": "LP Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 40]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{"node": "Check Service Status", "type": "main", "index": 0}]]
    },
    "Check Service Status": {
      "main": [[{"node": "Model Trained?", "type": "main", "index": 0}]]
    },
    "Model Trained?": {
      "main": [
        [
          {"node": "Run GNN + LP Prediction", "type": "main", "index": 0},
          {"node": "Run LP Only", "type": "main", "index": 0}
        ],
        [
          {"node": "Train GNN", "type": "main", "index": 0}
        ]
      ]
    },
    "Train GNN": {
      "main": [[{"node": "Wait for Training", "type": "main", "index": 0}]]
    },
    "Wait for Training": {
      "main": [[{"node": "Poll Training Status", "type": "main", "index": 0}]]
    },
    "Poll Training Status": {
      "main": [[{"node": "Training Done?", "type": "main", "index": 0}]]
    },
    "Training Done?": {
      "main": [
        [{"node": "Wait for Training", "type": "main", "index": 0}],
        [
          {"node": "Run GNN + LP Prediction", "type": "main", "index": 0},
          {"node": "Run LP Only", "type": "main", "index": 0}
        ]
      ]
    },
    "Run GNN + LP Prediction": {
      "main": [[{"node": "Format Results", "type": "main", "index": 0}]]
    },
    "Format Results": {
      "main": [[{"node": "Store Results in Neo4j", "type": "main", "index": 0}]]
    },
    "Store Results in Neo4j": {
      "main": [[{"node": "Fetch Results Summary", "type": "main", "index": 0}]]
    },
    "Fetch Results Summary": {
      "main": [[{"node": "Print Summary", "type": "main", "index": 0}]]
    },
    "Run LP Only": {
      "main": [[{"node": "LP Summary", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {},
  "tags": []
}