trail.json
{
  "name": "TRAIL - With URLs",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://otx.alienvault.com/api/v1/search/pulses?q=APT29&sort=-modified&limit=10",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "search_otx",
      "name": "Search OTX for APT29",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        340,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCYy1OIYKBWYqykg",
          "name": "alienvaultapi"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "split_results",
      "name": "Split Pulses",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://otx.alienvault.com/api/v1/pulses/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get_details",
      "name": "Get Pulse Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCYy1OIYKBWYqykg",
          "name": "alienvaultapi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// TRAIL Logic: Extract Domains, IPs, AND URLs\nconst allIOCs = [];\n\nfor (const item of $input.all()) {\n  const pulse = item.json;\n  if (!pulse.indicators) continue;\n\n  const iocs = pulse.indicators\n    // NOW FILTERING FOR URL TOO\n    .filter(i => i.type === 'domain' || i.type === 'hostname' || i.type === 'IPv4' || i.type === 'URL')\n    .map(i => ({\n       event_id: pulse.id,\n       event_name: pulse.name,\n       apt_label: 'APT29',\n       ioc: i.indicator,\n       type: (i.type === 'hostname') ? 'domain' : i.type\n    }));\n\n  allIOCs.push(...iocs);\n}\n\nreturn allIOCs;"
      },
      "id": "extract_iocs",
      "name": "Extract IOCs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch_split",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1220,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "URL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "URLs"
            }
          ]
        }
      },
      "id": "router",
      "name": "Router (Type Check)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://otx.alienvault.com/api/v1/indicators/{{ $json.type === 'IPv4' ? 'IPv4' : 'domain' }}/{{ $json.ioc }}/passive_dns",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "otx_enrich",
      "name": "OTX: Get Passive DNS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1700,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCYy1OIYKBWYqykg",
          "name": "alienvaultapi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// TRAIL Logic: Map Relationships correctly\nconst input = $input.all()[0].json;\nconst meta = $('Split in Batches').first().json;\n\nif (!input.passive_dns) return [];\n\nreturn input.passive_dns\n  .filter(record => record.record_type === 'A')\n  .map(record => {\n     let domain, ip;\n     if (meta.type === 'domain') {\n       domain = meta.ioc;\n       ip = record.address;\n     } else {\n       domain = record.hostname;\n       ip = meta.ioc;\n     }\n     return {\n       type: 'Infrastructure',\n       event_id: meta.event_id,\n       apt_label: meta.apt_label,\n       primary_domain: domain,\n       secondary_ip: ip,\n       first_seen: record.first,\n       last_seen: record.last\n     };\n  });"
      },
      "id": "format_infra",
      "name": "Format Infra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple Formatter for URLs (Direct Pass-through)\nconst meta = $('Split in Batches').first().json;\n\nreturn [{\n  type: 'URL',\n  event_id: meta.event_id,\n  apt_label: meta.apt_label,\n  url: meta.ioc\n}];"
      },
      "id": "format_url",
      "name": "Format URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "statements",
              "value": "={{ [{\n  \"statement\": \"MERGE (e:Event {id: $event_id}) SET e.apt = $apt_label, e.type = 'Report' MERGE (d:Domain {value: $primary_domain}) MERGE (ip:IP {value: $secondary_ip}) MERGE (e)-[:InReport]->(d) MERGE (d)-[r:ResolvesTo]->(ip) SET r.first_seen = $first_seen, r.last_seen = $last_seen\",\n  \"parameters\": {\n    \"event_id\": $json.event_id,\n    \"apt_label\": $json.apt_label,\n    \"primary_domain\": $json.primary_domain,\n    \"secondary_ip\": $json.secondary_ip,\n    \"first_seen\": $json.first_seen,\n    \"last_seen\": $json.last_seen\n  }\n}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "write_infra",
      "name": "Write Infra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2140,
        200
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "xkWGYm3b51EzGCb4",
          "name": "neo4j"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:7474/db/neo4j/tx/commit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "statements",
              "value": "={{ [{\n  \"statement\": \"MERGE (e:Event {id: $event_id}) SET e.apt = $apt_label MERGE (u:URL {value: $url}) MERGE (e)-[:InReport]->(u)\",\n  \"parameters\": {\n    \"event_id\": $json.event_id,\n    \"apt_label\": $json.apt_label,\n    \"url\": $json.url\n  }\n}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "write_url",
      "name": "Write URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2140,
        450
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "xkWGYm3b51EzGCb4",
          "name": "neo4j"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait_node",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2400,
        300
      ]
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search OTX for APT29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search OTX for APT29": {
      "main": [
        [
          {
            "node": "Split Pulses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Pulses": {
      "main": [
        [
          {
            "node": "Get Pulse Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pulse Details": {
      "main": [
        [
          {
            "node": "Extract IOCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract IOCs": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Router (Type Check)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router (Type Check)": {
      "main": [
        [
          {
            "node": "Format URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OTX: Get Passive DNS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTX: Get Passive DNS": {
      "main": [
        [
          {
            "node": "Format Infra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Infra": {
      "main": [
        [
          {
            "node": "Write Infra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format URL": {
      "main": [
        [
          {
            "node": "Write URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Infra": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write URL": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
